Repository ethereum/trinity, pull requests merged in 2019-01, with the labels that each got.

#154 Add routines for updating validator status
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
Labels: eth2.0

#157 Add `eth2/README.md`
  eth2/README.md
Labels: eth2.0

#188 Prepare BCC protocol functionality for syncing
  p2p/p2p_proto.py
  p2p/protocol.py
  p2p/tools/paragon/proto.py
  tests/core/p2p-proto/bcc/helpers.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/core/p2p-proto/bcc/test_handshake.py
  tests/core/p2p-proto/bcc/test_requests.py
  tests/core/p2p-proto/bcc/test_validators.py
  trinity/protocol/bcc/commands.py
  trinity/protocol/bcc/exchanges.py
  trinity/protocol/bcc/handlers.py
  trinity/protocol/bcc/normalizers.py
  trinity/protocol/bcc/peer.py
  trinity/protocol/bcc/proto.py
  trinity/protocol/bcc/requests.py
  trinity/protocol/bcc/servers.py
  trinity/protocol/bcc/trackers.py
  trinity/protocol/bcc/validators.py
Labels: trinity-beacon

#178 Add on startup helpers (#139) and vote eth1.0 chain block hash (#185)
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/candidate_pow_receipt_root_records.py
  eth2/beacon/types/eth1_data.py
  eth2/beacon/types/eth1_data_vote.py
  eth2/beacon/types/states.py
  tests/core/p2p-proto/bcc/helpers.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/conftest.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/types/test_block.py
  tests/eth2/beacon/types/test_candidate_pow_receipt_root_record.py
  tests/eth2/beacon/types/test_eth1_data.py
  tests/eth2/beacon/types/test_eth1_data_vote.py
Labels: PR state: needs review, eth2.0

#156 Implement `BeaconChain`
  eth2/README.md
  eth2/beacon/chains/__init__.py
  eth2/beacon/chains/base.py
  eth2/beacon/db/chain.py
  eth2/beacon/db/schema.py
  eth2/beacon/exceptions.py
  eth2/beacon/state_machines/base.py
  eth2/beacon/state_machines/forks/serenity/__init__.py
  eth2/beacon/state_machines/forks/serenity/blocks.py
  eth2/beacon/types/blocks.py
  eth2/beacon/typing.py
  setup.py
  tests/eth2/beacon/chains/conftest.py
  tests/eth2/beacon/chains/test_chain.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/db/test_beacon_chaindb.py
  tests/eth2/beacon/state_machines/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operations.py
  tests/eth2/beacon/state_machines/test_demo.py
Labels: eth2.0

#181 Update deposit structures
  eth2/beacon/types/deposit_data.py
  eth2/beacon/types/deposits.py
  tests/eth2/beacon/conftest.py
Labels: eth2.0

#203 Fix #190: verify_slashable_vote_data
  eth2/beacon/helpers.py
  tests/eth2/beacon/test_helpers.py
Labels: eth2.0

#160 Implement per slot transition
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/test_state_transition.py
Labels: eth2.0

#225 Make the epoch processing works
  eth2/_utils/numeric.py
  eth2/_utils/tuple.py
  eth2/beacon/aggregation.py
  eth2/beacon/deposit_helpers.py
  eth2/beacon/exceptions.py
  eth2/beacon/helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/state_machines/state_transitions.py
  eth2/beacon/tools/builder/__init__.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestation_data_and_custody_bits.py
  eth2/beacon/types/attestations.py
  eth2/beacon/types/fork_data.py
  eth2/beacon/types/forks.py
  eth2/beacon/types/pending_attestation_records.py
  eth2/beacon/types/states.py
  eth2/beacon/validator_status_helpers.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/chains/test_chain.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operations.py
  tests/eth2/beacon/state_machines/test_attestation_validation.py
  tests/eth2/beacon/state_machines/test_demo.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/tools/builder/test_builder_validator.py
  tests/eth2/beacon/types/test_fork.py
  tests/eth2/beacon/types/test_fork_data.py
  tests/eth2/beacon/types/test_pending_attestation_record.py
  tests/eth2/beacon/types/test_states.py
  tests/eth2/numeric-utils/test_power.py
  tests/eth2/tuple-utils/test_tuple.py
Labels: eth2.0

#234 Implement light client friendliness changes
  eth2/beacon/enums.py
  eth2/beacon/helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/types/states.py
  eth2/beacon/types/validator_registry_delta_block.py
  eth2/beacon/validation.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_validator_registry_delta_block.py
Labels: eth2.0

#248 Casper slashing rename
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/types/attester_slashings.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/casper_slashings.py
  eth2/beacon/types/slashable_attestations.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/types/test_attester_slashings.py
  tests/eth2/beacon/types/test_block.py
  tests/eth2/beacon/types/test_casper_slashings.py
  tests/eth2/beacon/types/test_slashable_attestation.py
  tests/eth2/beacon/types/test_slashable_vote_data.py
Labels: eth2.0

#249 Normalize ETH units to Gwei
  eth2/beacon/helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/typing.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_states.py
Labels: eth2.0
