Repository ethereum/trinity, pull requests merged in 2019-02, with the labels that each got.

#228 Implement process_crosslink
  eth2/beacon/exceptions.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/types/attestations.py
  eth2/beacon/types/pending_attestation_records.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_states.py
Labels: PR state: needs review, eth2.0

#253 Implement per-block processing - eth1 data
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_processing.py
Labels: eth2.0

#256 Make epoch first class and update epoch transition rule
  eth2/beacon/constants.py
  eth2/beacon/deposit_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/configs.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestation_data.py
  eth2/beacon/types/crosslink_records.py
  eth2/beacon/types/exits.py
  eth2/beacon/types/forks.py
  eth2/beacon/types/states.py
  eth2/beacon/types/validator_records.py
  eth2/beacon/typing.py
  eth2/beacon/validation.py
  eth2/beacon/validator_status_helpers.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/test_attestation_validation.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_beacon_validation.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_crosslink_record.py
  tests/eth2/beacon/types/test_fork.py
  tests/eth2/beacon/types/test_slashable_attestation.py
  tests/eth2/beacon/types/test_states.py
  tests/eth2/beacon/types/test_validator_record.py
Labels: PR state: needs review

#250 Remove placeholder
  eth2/beacon/deposit_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/sedes.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/custody_challenges.py
  eth2/beacon/types/custody_reseeds.py
  eth2/beacon/types/custody_responses.py
  eth2/beacon/types/deposit_input.py
  eth2/beacon/types/exits.py
  eth2/beacon/types/proposer_slashings.py
  eth2/beacon/types/shard_reassignment_records.py
  eth2/beacon/types/slashable_attestations.py
  eth2/beacon/types/states.py
  eth2/beacon/types/validator_records.py
  eth2/beacon/typing.py
  eth2/beacon/validation.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/test_beacon_validation.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/types/test_attester_slashings.py
  tests/eth2/beacon/types/test_block.py
  tests/eth2/beacon/types/test_shard_reassignment_record.py
  tests/eth2/beacon/types/test_slashable_attestation.py
  tests/eth2/beacon/types/test_validator_record.py
Labels: eth2.0

#262 Move functions from `helpers.py` to `committee_helpers.py` and `epoch_processing_helpers.py`
  eth2/beacon/committee_helpers.py
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/test_attestation_validation.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
Labels: eth2.0

#271 Constants arguments clean-up and shuffling lookahead
  eth2/beacon/committee_helpers.py
  eth2/beacon/configs.py
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/exceptions.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/base.py
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/state_machines/state_transitions.py
  eth2/beacon/tools/builder/committee_assignment.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/states.py
  eth2/beacon/validation.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/test_attestation_validation.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_beacon_validation.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/tools/builder/test_builder_validator.py
Labels: PR state: needs review, eth2.0

#252 RANDAO processing
  eth2/beacon/enums.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/typing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
Labels: eth2.0

#286 Misc sync: `state.deposit_index` BLS-based RANDAO
  eth2/beacon/deposit_helpers.py
  eth2/beacon/on_startup.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/deposit_input.py
  eth2/beacon/types/states.py
  eth2/beacon/types/validator_records.py
  tests/core/p2p-proto/bcc/helpers.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_on_startup.py
  tests/eth2/beacon/types/test_validator_record.py
Labels: PR state: needs review, eth2.0

#288 Enable per-block `process_eth1_data`
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_processing.py
Labels: PR state: needs review, eth2.0

#264 Fix #141, process_justification round 2
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_helpers.py
Labels: eth2.0

#283 Implement `process_proposer_slashings`
  eth2/beacon/configs.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/validator_records.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_proposer_slashing_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_validator_record.py
Labels: PR state: needs review, eth2.0

#297 Misc renamings
  eth2/beacon/chains/base.py
  eth2/beacon/committee_helpers.py
  eth2/beacon/configs.py
  eth2/beacon/constants.py
  eth2/beacon/db/chain.py
  eth2/beacon/deposit_helpers.py
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/on_genesis.py
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/committee_assignment.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestation_data.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/crosslink_records.py
  eth2/beacon/types/forks.py
  eth2/beacon/types/pending_attestation_records.py
  eth2/beacon/types/proposal_signed_data.py
  eth2/beacon/types/states.py
  eth2/beacon/types/validator_records.py
  eth2/beacon/types/voluntary_exits.py
  eth2/beacon/typing.py
  eth2/beacon/validation.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/chains/test_chain.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_proposer_slashing_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/state_machines/test_demo.py
  tests/eth2/beacon/state_machines/test_state_transition.py
  tests/eth2/beacon/test_beacon_validation.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_genesis.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/tools/builder/test_builder_validator.py
  tests/eth2/beacon/types/test_block.py
  tests/eth2/beacon/types/test_exits.py
  tests/eth2/beacon/types/test_voluntary_exits.py
  trinity/protocol/bcc/commands.py
  trinity/protocol/bcc/exchanges.py
  trinity/protocol/bcc/peer.py
  trinity/protocol/bcc/proto.py
  trinity/protocol/bcc/requests.py
  trinity/protocol/bcc/servers.py
  trinity/protocol/bcc/validators.py
  trinity/sync/beacon/chain.py
Labels: PR state: merge ready, PR state: needs review

#300 Fix attestation, previous epoch logic and builder tools
  eth2/beacon/committee_helpers.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/states.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/state_machines/test_demo.py
  tests/eth2/beacon/test_committee_helpers.py
Labels: PR state: needs review, eth2.0

#273 Implement process rewards and penalties
  eth2/_utils/numeric.py
  eth2/beacon/committee_helpers.py
  eth2/beacon/datastructures/__init__.py
  eth2/beacon/datastructures/inclusion_info.py
  eth2/beacon/datastructures/reward_settlement_context.py
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/typing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/numeric-utils/test_integer_squareroot.py
Labels: PR state: needs review

#313 Order the test cases by sections
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
Labels: eth2.0

#315 Update withdrawability
  eth2/beacon/enums.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/types/validator_records.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_proposer_slashing_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_validator_record.py
Labels: PR state: needs review, eth2.0

#299 Implement `process_attester_slashings`
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/slot_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/validator_status_helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attester_slashing_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
Labels: PR state: needs review, eth2.0

#236 Faster task pruning
  docs/release_notes/trinity.rst
  tests/core/task-queue-utils/test_ordered_task_preparation.py
  tests/core/utils/test_root_tracker.py
  trinity/_utils/datastructures.py
  trinity/_utils/tree_root.py
  trinity/sync/common/headers.py
  trinity/sync/full/chain.py
  trinity/sync/full/constants.py
Labels: PR state: needs review
