Repository ethereum/trinity, pull requests merged in 2019-06, with the labels that each got.

#671 Split isolated plugin base into agnostic async base
  docs/api/extensibility/api.extensibility.plugin.rst
  docs/guides/writing_plugins.rst
  trinity-external-plugins/examples/peer_count_reporter/peer_count_reporter_plugin/plugin.py
  trinity/extensibility/__init__.py
  trinity/extensibility/asyncio.py
  trinity/extensibility/plugin.py
  trinity/plugins/builtin/ethstats/plugin.py
  trinity/plugins/builtin/json_rpc/plugin.py
  trinity/plugins/builtin/network_db/plugin.py
  trinity/plugins/builtin/peer_discovery/plugin.py
  trinity/plugins/builtin/request_server/plugin.py
  trinity/plugins/builtin/upnp/plugin.py
  trinity/plugins/eth2/beacon/plugin.py
Labels: PR state: needs review

#650 Discv5 Messages
  p2p/discv5/constants.py
  p2p/discv5/enr.py
  p2p/discv5/messages.py
  tests/p2p/discv5/test_messages.py
Labels: comp: p2p, eth2.0

#744 Use preferred node
  eth2/beacon/scripts/run_beacon_nodes.py
  trinity/plugins/eth2/beacon/plugin.py
Labels: eth2.0
