Repository ethereum/trinity, pull requests merged in 2019-03, with the labels that each got.

#351 Update `AttesationData`: `latest_crosslink_root: Hash32` to `latest_crosslink: CrosslinkRecord`
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestation_data.py
  eth2/beacon/types/crosslink_records.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
  tests/eth2/beacon/types/test_slashable_attestation.py
Labels: eth2.0

#359 Implement `process_ejections`
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
Labels: eth2.0

#358 Implement `process_voluntary_exits`
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/voluntary_exits.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_voluntary_exit_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
Labels: eth2.0

#353 Add `Transfer` data structure
  eth2/beacon/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/types/blocks.py
  eth2/beacon/types/transfers.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/types/test_block.py
  tests/eth2/beacon/types/test_transfer.py
Labels: eth2.0

#349 Fix `Attestation` ordering: `aggregation_bitfield` before `data`
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestations.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
Labels: eth2.0

#361 Use little endian
  eth2/_utils/bitfield.py
  eth2/beacon/_utils/random.py
  eth2/beacon/on_genesis.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  tests/eth2/beacon/_utils/test_random.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
  tests/eth2/beacon/types/test_slashable_attestation.py
  tests/eth2/bitfield-utils/test_bitfields.py
Labels: PR state: needs review, eth2.0

#333 Sync with ethereum/eth2.0-specs#694: enhance `get_beacon_proposer_index`
  eth2/beacon/committee_helpers.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/validation.py
  tests/eth2/beacon/test_beacon_validation.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_validator_status_helpers.py
Labels: PR state: blocked

#334 Sync with ethereum/eth2.0-specs#699: fix committee assignment bugs
  eth2/beacon/committee_helpers.py
  eth2/beacon/datastructures/shuffling_context.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  tests/eth2/beacon/test_committee_helpers.py
Labels: PR state: blocked

#350 Bugfix: `AttestationDataAndCustodyBit` root bug
  eth2/beacon/types/attestation_data_and_custody_bits.py
  eth2/beacon/types/slashable_attestations.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
Labels: eth2.0

#314 Implement `update_validator_registry` and seek for a quick review
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
Labels: PR state: needs review, eth2.0

#362 Add `process_slashings`
  eth2/beacon/configs.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
Labels: eth2.0

#352 Fix `validate_attestation_slot`
  eth2/beacon/configs.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
Labels: eth2.0

#355 Rework `ProposalSignedData` to `Proposal` and signature refactoring
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/proposal.py
  eth2/beacon/types/proposer_slashings.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_proposer_slashing_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/types/test_proposal.py
  tests/eth2/beacon/types/test_proposal_signed_data.py
  tests/eth2/beacon/types/test_proposer_slashings.py
Labels: eth2.0

#363 Add `get_permuted_index` and new swap-or-not `shuffle`
  eth2/beacon/_utils/random.py
  eth2/beacon/committee_helpers.py
  eth2/beacon/configs.py
  eth2/beacon/constants.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  tests/eth2/beacon/_utils/test_random.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_committee_helpers.py
  tests/eth2/beacon/tools/builder/test_builder_validator.py
Labels: eth2.0

#385 Implement `process_exit_queue`
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
Labels: eth2.0

#309 Add libp2p daemon bindings
  .circleci/config.yml
  .circleci/install_p2pd.sh
  libp2p/__init__.py
  libp2p/p2pclient/__init__.py
  libp2p/p2pclient/config.py
  libp2p/p2pclient/datastructures.py
  libp2p/p2pclient/exceptions.py
  libp2p/p2pclient/p2pclient.py
  libp2p/p2pclient/pb/__init__.py
  libp2p/p2pclient/pb/crypto_pb2.py
  libp2p/p2pclient/pb/crypto_pb2.pyi
  libp2p/p2pclient/pb/p2pd_pb2.py
  libp2p/p2pclient/pb/p2pd_pb2.pyi
  libp2p/p2pclient/serialization.py
  libp2p/p2pclient/utils.py
  setup.py
  tests/libp2p/p2pclient/__init__.py
  tests/libp2p/p2pclient/test_datastructures.py
  tests/libp2p/p2pclient/test_p2pclient.py
  tests/libp2p/p2pclient/test_p2pclient_integration.py
  tests/libp2p/p2pclient/test_serialization.py
  tests/libp2p/p2pclient/test_utils.py
  tox.ini
Labels: eth2.0

#426 Fork version: bytes4
  eth2/beacon/helpers.py
  eth2/beacon/on_genesis.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/types/forks.py
  eth2/beacon/types/states.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/test_helpers.py
  tests/eth2/beacon/test_on_genesis.py
Labels: eth2.0

#420 Weaken criterion for attestation inclusion
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
Labels: eth2.0

#421 Update `validate_voluntary_exit`
  eth2/beacon/configs.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_voluntary_exit_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
Labels: eth2.0

#427 Do not check withdrawal credentials for existing validators
  eth2/beacon/deposit_helpers.py
Labels: eth2.0

#423 Proposer slashing based upon epoch rather than slot
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_proposer_slashing_validation.py
Labels: eth2.0

#424 Select proposer by the `epoch`th element
  eth2/beacon/committee_helpers.py
Labels: eth2.0

#307 Fix #278, minimal viable trinity-beacon node
  tests/core/p2p-proto/bcc/helpers.py
  tests/core/p2p-proto/bcc/test_full_sync.py
  tests/core/p2p-proto/bcc/test_handshake.py
  tests/core/p2p-proto/bcc/test_requests.py
  tests/plugins/eth2/beacon/test_beacon_plugin.py
  trinity/_utils/chains.py
  trinity/config.py
  trinity/db/beacon/manager.py
  trinity/initialization.py
  trinity/plugins/eth2/__init__.py
  trinity/plugins/eth2/beacon/__init__.py
  trinity/plugins/eth2/beacon/plugin.py
  trinity/plugins/registry.py
  trinity/protocol/bcc/context.py
  trinity/protocol/bcc/peer.py
  trinity/server.py
Labels: eth2.0

#447 Implement `process_deposits`
  eth2/_utils/merkle/common.py
  eth2/_utils/merkle/sparse.py
  eth2/beacon/constants.py
  eth2/beacon/deposit_helpers.py
  eth2/beacon/on_genesis.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/deposit_input.py
  eth2/beacon/types/deposits.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_voluntary_exit_validation.py
  tests/eth2/beacon/test_deposit_helpers.py
  tests/eth2/beacon/test_on_genesis.py
  trinity/config.py
Labels: eth2.0

#473 Rename `BeaconConfig` to `Eth2Config` and move it to `eth2.configs`
  eth2/beacon/committee_helpers.py
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/state_machines/base.py
  eth2/beacon/state_machines/forks/serenity/block_processing.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/state_machines/forks/serenity/configs.py
  eth2/beacon/state_machines/forks/serenity/epoch_processing.py
  eth2/beacon/state_machines/forks/serenity/operation_processing.py
  eth2/beacon/state_machines/forks/serenity/slot_processing.py
  eth2/beacon/state_machines/forks/serenity/state_transitions.py
  eth2/beacon/state_machines/state_transitions.py
  eth2/beacon/tools/builder/initializer.py
  eth2/beacon/tools/builder/proposer.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/validator_status_helpers.py
  eth2/configs.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/helpers.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
Labels: eth2.0

#475 Rename and reorder the fields of `AttestationData`
  eth2/beacon/epoch_processing_helpers.py
  eth2/beacon/helpers.py
  eth2/beacon/state_machines/forks/serenity/block_validation.py
  eth2/beacon/tools/builder/validator.py
  eth2/beacon/types/attestation_data.py
  tests/core/p2p-proto/bcc/test_commands.py
  tests/eth2/beacon/conftest.py
  tests/eth2/beacon/state_machines/forks/test_serenity_block_attestation_validation.py
  tests/eth2/beacon/state_machines/forks/test_serenity_epoch_processing.py
  tests/eth2/beacon/test_epoch_processing_helpers.py
  tests/eth2/beacon/test_helpers.py
Labels: eth2.0
