Repository ethereum/trinity, pull requests merged in 2019-09, with the labels that each got.

#774 Fix get state(machine) from non-canonical chain
  eth2/beacon/chains/base.py
  eth2/beacon/state_machines/base.py
  tests/eth2/core/beacon/state_machines/forks/test_serenity_operation_processing.py
  tests/eth2/core/beacon/state_machines/forks/test_state_machine.py
  tests/eth2/core/beacon/state_machines/test_state_transition.py
  tests/eth2/integration/test_demo.py
Labels: PR state: needs review, eth2.0

#1030 libp2p connection peer factory
  eth2/beacon/chains/base.py
  tests/libp2p/bcc/conftest.py
  tests/libp2p/bcc/test_req_resp.py
  tests/libp2p/test_peer_factories.py
  trinity/protocol/bcc_libp2p/node.py
  trinity/tools/bcc_factories.py
Labels: eth2.0

#846 Fix #842, raise exception in find proposer
  eth2/beacon/committee_helpers.py
  eth2/beacon/exceptions.py
Labels: eth2.0

#1078 Add HTTPServer
  eth2/beacon/scripts/run_beacon_nodes.py
  eth2/beacon/tools/builder/initializer.py
  newsfragments/1078.feature.rst
  setup.py
  tests/plugins/eth2/apis/test_http.py
  trinity/db/manager.py
  trinity/plugins/builtin/json_rpc/plugin.py
  trinity/rpc/http.py
  trinity/rpc/main.py
  trinity/rpc/modules/beacon.py
  trinity/rpc/retry.py
Labels: PR state: WIP

#1092 [interop] Make `run_beacon_nodes.py` work again
  eth2/beacon/scripts/run_beacon_nodes.py
  trinity/plugins/eth2/interop/plugin.py
Labels: eth2.0

#1152 Add more RPC commands for debugging
  trinity/rpc/modules/beacon.py
Labels: eth2.0

#1082 Create DappNode package and document process
  Makefile
  dappnode/.gitignore
  dappnode/build/Dockerfile
  dappnode/dappnode_package.json
  dappnode/docker-compose.yml
  dappnode/trinity.dnp.dappnode.eth.env
  dappnode/trinity_logo.png
  docs/contributing.rst
  docs/guides/index.rst
  docs/guides/quickstart.rst
  docs/guides/running_trinity_on_dappnode.rst
  docs/images/configuring_trinity_on_dappnode.gif
  docs/images/dappnode_syncing.png
  docs/images/trinity_dappnode_install.gif
  newsfragments/1082.doc.rst
  newsfragments/1082.feature.rst
Labels: PR state: needs review
